{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>
        {% block title %}

        {% endblock title %} - {{ user.QmnECO.get_XK0YR2_display }}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/admins/img/favicon.png" rel="icon">
    <link href="/assets/admins/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

        <link href="/assets/admins/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/admins/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/admins/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/admins/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/assets/admins/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/assets/admins/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/admins/vendor/simple-datatables/style.css" rel="stylesheet">

    <link href="/assets/admins/css/style.css" rel="stylesheet">
</head>

<body>
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/admin/" class="logo d-flex align-items-center">
                <span class="d-none d-lg-block">
                    {{ user.QmnECO.get_XK0YR2_display|truncatechars:'20' }}
                </span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div>

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.QmnECO.get_XK0YR2_display }}</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>{{ user.QmnECO.get_XK0YR2_display }}</h6>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>{% trans 'my profile' %}</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>{% trans 'account settings' %}</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>{% trans 'need help' %}</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>{% trans 'sign out' %}</span>
                            </a>
                        </li>

                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link nav-icon search-bar-toggle" href="/admin/login">
                        <i class="bi bi-box-arrow-in-right"></i>
                        {% trans 'login' %}
                    </a>
                </li>
                {% endif %}

            </ul>
        </nav>

    </header>

    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/organization/?no_filter=1">
                    <i class="bi bi-grid"></i>
                    <span>{% trans 'all' %}</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/organization/?filter=on-progress">
                    <i class="bi bi-bookmarks"></i>
                    <span>{% trans 'on progress' %}</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/organization/?filter=finished">
                    <i class="bi bi-check2-all"></i>
                    <span>{% trans 'finished' %}</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/organization/?filter=over-deadline">
                    <i class="bi bi-clock"></i>
                    <span>{% trans 'over deadline' %}</span>
                </a>
            </li>
        </ul>

    </aside>

    <main id="main" class="main">
        {% if messages %}
        <div class="row g-3">
            {% for message in messages %}
            <div class="col-12">
            
            <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
            </div>
            {% endfor %}
        </div>
        {% endif %}
    
        {% block content %}

        {% endblock content %}

    </main>

    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>{% trans 'admin-title' %}</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://t.me/d110_101_119_95_106_97_115_106_9">Jasurbek Abdulkhafizov</a>
        </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <script src="/assets/admins/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/admins/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/admins/vendor/chart.js/chart.umd.js"></script>
    <script src="/assets/admins/vendor/echarts/echarts.min.js"></script>
    <script src="/assets/admins/vendor/quill/quill.min.js"></script>
    <script src="/assets/admins/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/assets/admins/vendor/tinymce/tinymce.min.js"></script>
    <script src="/assets/admins/vendor/php-email-form/validate.js"></script>
    <script src="/assets/admin/js/vendor/jquery/jquery.js"></script>
    <script src="/assets/admins/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>
    <script>
        let changed = false;
        $('.btn-link').each((index, elem) => {
            if (window.location.href.endsWith($(elem).attr('href'))) {
                $(elem).removeClass('btn-link');
                $(elem).addClass('btn-{{ page_code }}');
                changed = true;
            }
        });
        
        if (!changed) {
            let elem = $('.btn-link')[0];
            $(elem).removeClass('btn-link');
            $(elem).addClass('btn-{{ page_code }}');
        }
    </script>
</body>

</html>