{% extends 'orgadmin/base.html' %}
{% load i18n %}

{% block title %}
    {{ select_key_name }}
{% endblock %}

{% block content %}
    <div class="pagetitle">
        <h1>{{ object.mStccp }}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/organization/">{% trans 'orgnization' %}</a></li>
                <li class="breadcrumb-item"><a href="{{ before_url }}">{{ before_title }}</a></li>
                <li class="breadcrumb-item active">{{ object.mStccp }}</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-body p-3">
            <div class="mb-3 d-flex align-items-center justify-content-start" style="gap: 8px;">
                <b>{{ object.Ue07qV }}</b>
                <span>|</span>
                <span>{{ object.Cq04qZ }}</span>
            </div>
            <h1 class="h3">{{ object.mStccp }}</h1>
            <h3 class="h6 text-secondary">{{ object.dPmVJI }}</h3>
            <br/>
            <p>{{ object.jZ4ndH }}</p>
            {% if object.n4jAme.all %}
            <a href="/organization/appeals/{{ object.n4jAme.all.0.pk }}/reply#problem_{{ object.pk }}">{% trans 'more appeal' %}</a>
            {% else %}
                <b class="text-danger">{% trans 'no appeal for this problem' %}</b>
            {% endif %}
            <hr/>

            <p class="mb-1"><b>{% trans 'end-data' %}: </b><i>{{ object.dgWV6p|date:'Y/m/d' }}</i></b></p>
            <p class="mb-0"><b>{% trans 'problem status' %}:</b><i>{{ object.x2tBdd_disp }}</i></p>
        </div>
    </div>

    <div class="card">
        <div class="card-body p-3">
            <h1 class="h3">{% trans 'reply about finished' %}</h1>
            
            {% if object.dIyvXl and object.vKlZ9t %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% trans "there is already problem reply" %}
                <a href="/organization/docs/{{ object.pk }}/reply">{% trans 'view' %}</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            
            <p>{% trans 'appeal solution fill required' %}</p>

            <form method="post" action="/organization/docs/{{ object.pk }}/reply" enctype="multipart/form-data">
                {% csrf_token %}

                <input name="next" type="hidden" value="/organization/docs/{{ object.pk }}/reply"/>
                <input name="before_title" type="hidden" value="{{ before_title }}"/>
                <input name="before_url" type="hidden" value="{{ before_url }}"/>
                <div class="input-div mb-3">
                    <label class="form-label">{% trans 'appeal solution thanks' %}</label>
                    <textarea name="dIyvXl" placeholder="{% trans 'appeal solution thanks' %}" class="form-control"></textarea>
                </div>

                <div class="input-div mb-3">
                    <label class="form-label">{% trans 'appeal solution thanks' %}</label>
                    <input type="file" name="vKlZ9t" accept="application/pdf" class="form-control"></input>
                </div>

                <div class="w-100 d-flex align-items-center justify-content-end">
                    <button type="submit" class="btn btn-primary">{% trans 'reply about finished [button]' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
