input, select, textarea {
    height: 40px;
    box-shadow: none !important;
    outline: none;
    border-radius: 8px !important;
}

.label-text {
    position: relative;
}

.label-text label {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 999;
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-radius: 8px;
}

.label-text textarea {
    height: fit-content;
}

.label-text input,
.label-text textarea {
    color: white;
}

.label-text input:focus,
.label-text textarea:focus,
.label-text input.value,
.label-text textarea.value {
    color: black;
}

.label-text input:focus ~ label,
.label-text textarea:focus ~ label,
.label-text input.value ~ label,
.label-text textarea.value ~ label {
    width: fit-content;
    height: fit-content;
    left: 12px;
    background-color: white;
    transform: translateY(-50%);
}
